@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
background-color: #484848
}

p {
	font-family: 'Orbitron', sans-serif;
}


h1 {
	font-family: 'Orbitron', sans-serif;
}

a {
	font-family: 'Orbitron', sans-serif;
}	

h2 {
	font-family: 'Orbitron', sans-serif;
	color: white;
}

h3 {
	font-family: 'Orbitron', sans-serif;
	color: white;
}

footer {
	margin-top: 100px
}
.row {
	padding: 10px;
}

.btn {
	font-family: 'Orbitron', sans-serif;
}

.main-logo {
	margin-top: 50px
}

.information p {
	font-family: 'Orbitron', sans-serif;
	color: white;
}

.information h1 {
	font-family: 'Orbitron', sans-serif;
	color: white;
}

